---
---

@import "{{ site.theme }}";
.three-dots {
    text-align: center;
}

.three-dots span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: grey;
    display: inline-block;
    margin: 0 5px;
}